.a:hover{
    color: #A90100;
}
.header{
    background-color: lightgrey;
}

.nav-item{
    font-size: 12px;
}
.nav-link{
    color: darkslategray;
}
.headerlogo{
    padding-top: 12px;
}
.buttonheader{
    font-size: 12px;
    width: 100px;
    background-color: grey;
}
.footer{
    background-color: whitesmoke;
    height: 120px;
}
.pfooter{
    font-size: 10px;
    padding-top: 25px;
}
.dropdown-menu{
    background-image: url(https://img.gemscool.com/allservice/gemscool/media/allgames/allgamebox3_2016_hover.png)
}

p{
    text-align: left;
    font-size: 13px;
    color: darkgrey;
 }