.a:hover{
    color: #A90100;
}
.header{
    background-color: lightgrey;
}

.nav-item{
    font-size: 12px;
}
.nav-link{
    color: darkslategray;
}
.headerlogo{
    padding-top: 12px;
}
.buttonheader{
    font-size: 12px;
    width: 100px;
    background-color: grey;
}
.footer{
    background-color: whitesmoke;
    height: 100px;
}
.pfooter{
    font-size: 10px;
    padding-top: 25px;
}
.register{
    font-size: 20px;
    font-weight: bold;
}
.note{
    font-size: 15px;
    font-weight: 15px;
}
.note1{
    font-size: 13px;
    font-weight:13px;
    color: #DC143C;
}
.note2{
    font-size: 13px;
    font-weight:13px;
    color: black;
}
.foto{
    height: 80px;
    
}
.dropdown-menu{
    background-image: url(https://img.gemscool.com/allservice/gemscool/media/allgames/allgamebox3_2016_hover.png)
}
